* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.okvir {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}

.krug1,.krug2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    z-index: 2;
    border-radius: 50%;

}

.krug1 {
    top: 5%;
    right: 15%;
    
}

.krug2 {
    bottom: 5%;
    left: 10%;
}

div[class="user"]>img {
    border-radius: 50%;
}

.lijevastrana{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
}

.link{
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2 {
    padding: 0 2rem;
}

.igrice {
    flex: 2;
}

.pro {
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 0.9rem;
    position: relative;
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

.pro img {
    position: absolute;
    top: 7%;
    right: 10%;
    height: 80%;
    
}

.pro h2 {
    width: 40%;
    color: white;
    font-weight: 600;
}

/* Igrice */

.status {
    margin-bottom: 3rem;
}

.status input {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.igrice {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.kartica {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    justify-content: space-between;
}

.progres {
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progres::after{
    content:"";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
}

.kartica-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.procenat {
    font-weight: bold;
}